.header {
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
}

.header div {
    display: flex;
    align-items: center;
}

.header img {
    height: 2.5rem; 
    margin-right: 0.75rem;
}

.header button {
    padding: 0.75rem 1.5rem;
    background-color: #f44336;
    color: #f8f8f8;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #e53935;
}
