.container {
  text-align: center;
  margin-top: 3.125rem;
}

.button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.roulette {
  margin: 1.25rem auto;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffcc00;
  border: 0.3125rem solid #333;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-out;
}

.spinning {
  animation: spin 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

.blackBall {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  flex-direction: column;
}

.numberDisplay {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.number {
  font-size: 2.5rem;
  font-weight: bold;
}

.questionMark {
  font-size: 3.125rem;
}

.number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f8f8f8;
}

.table {
  margin-top: 1.875rem;
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 0.75rem 0.9375rem;
  border: 0.0625rem solid #ddd;
  text-align: center;
  font-size: 1.125rem;
}

th {
  background-color: #4caf50;
  color: white;
}

td {
  background-color: #f9f9f9;
}

td:first-child, td:nth-child(2), td:nth-child(3), td:nth-child(4), td:last-child {
  font-weight: bold;
}
